body {
    background-image: url("http://localhost:8080/images/bg.jpg");
}
h3 {
    text-align: end;
}
h1 {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}